<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="app.component.scss">
    </head>

    <body>
        <!-- Welcome Page -->
        <div class="box">

            <!-- page description -->
            <div class="title-box">
                <img class="facebook" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt ="facebook">
                <p class="content">Facebook helps you connect and share with the people in your life.</p>
            </div>

            <!-- login section -->
            <div class="login-sec">
                <div class="user-input-sec">
                    <input class="user-id"  placeholder="Email address or phone number"/>
                    <input class="password" placeholder="password"/>
                    <button class="log-in" type="submit">Log In</button>
                    <a href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=
                    eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjYwMzAyNDEyLCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&ars=
                    facebook_login" class="forgot-link">Forgotten password? </a>
                    <button class="sign-up">Create New Account</button>
                </div>
                <!-- info-sec -->
                <div>
                    <p class="info-sec"><span class="create"> Create a Page </span> for a celebrity, brand or business</p>
                </div>
            </div>
        </div>
    </body>
</html>