<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="app.component.scss">
    </head>

    <body>
        <!-- Welcome Page -->
        <div class="container">

            <!-- page description -->
            <div class="left">
                <h1>facebook</h1>
                <p>Facebook helps you connect and share with the people in your life.</p>
            </div>

            <!-- login section -->
            <div class="right">
                <form action="">
                    <input type="text"  placeholder="Email address or phone number"/>
                    <input type="password" placeholder="password"/>
                    <a href="" class="loginBtn"> Log In</a>
                    <a href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=
                    eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjYwMzAyNDEyLCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&ars=
                    facebook_login" class="forget">Forgotten password?</a>
                    <div class="sign-up">
                        <a href="" class="signupBtn">Create New Account</a>
                    </div>
                </form>    
                <!-- info-sec -->
                <div>
                    <p class="info-sec"><span class="create"> Create a Page </span> for a celebrity, brand or business</p>
                </div>
            </div>
        </div>
    </body>
</html>